/*
    1、给根元素的字体大小设置随着视窗变化而变化的 vw 单位，这样就可以实现动态改变其大小
    2、其他元素的文本字号大小、布局高宽、间距、留白都使用 rem 单位
    3、限制根元素字体大小的最大最小值，配合 body 加上最大宽度和最小宽度，实现布局宽度的最大最小限制
*/

/* rem 单位换算：定为 75px 只是方便运算，750px-75px、640-64px、1080px-108px，如此类推 */
$vw_fontsize: 75; // iPhone 6尺寸的根元素大小基准值
@function rem($px) {
     @return ($px / $vw_fontsize ) * 1rem;
}

/* 根元素大小使用 vw 单位 */
$vw_design: 750;
html {
    font-size: ($vw_fontsize / ($vw_design / 2)) * 100vw; 
    /* 同时，通过Media Queries 限制根元素最大最小值 */
    @media screen and (max-width: 320px) {
        font-size: 64px;
    }
    @media screen and (min-width: 540px) {
        font-size: 108px;
    }
}

/* body 也增加最大最小宽度限制，避免默认100%宽度的 block 元素跟随 body 而过大过小 */
body {
    max-width: 540px;
    min-width: 320px;
}